body {
    padding: 100px;
    /* background-image: url(Pics/background.jpg);
    background-size: cover; */
}

#bankName {
    color: #ffffff;
    background: #28a745;
    border-radius: 2% 50%;
    height: 100px;
    padding: 10px;
    transition: all 3s;
    transition-timing: ease-in-out;
    width: 100px;
    text-align: center;
    box-shadow: 5px 5px 10px grey;


}

/* Login box styles */

.submit-area {

    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px grey;
    background-image: url(Pics/loginBackground.jpg);
    background-repeat: no-repeat;



}

/* Transaction Area 2nd Page */
#transDetails {
    color: #28a745;
}

#transaction-area {
    display: none;
    margin-top: 50px;
    padding: 10px;
}


.status {
    margin: 40px 20px;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px grey;
}

.deposit {
    background-color: slateblue;
    transition: transform 1s;


}

.deposit:hover {
    box-shadow: 20px 20px 50px slateblue;
    transition: 1s;
    transform: scale(1.2);
}

.withdraw {
    background-color: lightsalmon;
    transition: transform 1s;
}

.withdraw:hover {
    box-shadow: 20px 20px 50px lightsalmon;
    transition: 1s;
    transform: scale(1.2);
}

.balance {
    background-color: #28a745;
    transition: transform 1s;
}

.balance:hover {
    box-shadow: 20px 20px 50px #28a745;
    transition: 1s;
    transform: scale(1.2);
}